h1 {
  font-size: 20px;
}

.fundoVermelho {
  background-color: #c00;
}

#textoPrincipal {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  background-color: #444;
}

.negrito {
  font-weight: bold;
}